<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% load static %}
    <header>
        <a href="/">Main page</a>
        <a href="/create">Create new product</a>
        <a href="/deactivated">Show deactivated</a>
    </header>
    <script>
        {% if messages %}
            {% for message in messages %}
                alert("{{ message }}")
            {% endfor %}
        {% endif %}
    </script>
    {% block context %}{% endblock %}
</body>
</html>